<launch>

    <!--Baxter URDF-->
    <arg name="baxter_urdf" value="robot_description"/>
    <param name="$(arg baxter_urdf)" textfile="$(find telehaptics)/urdf/baxter.urdf"/>

    <!--Joy node-->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>

    <!--Rviz-->
    <node name="rviz" pkg="rviz" type="rviz" output="screen"/>

    <!--PS3 pose publishing node-->
    <node name="joystick_reference_pose_generator" pkg="telehaptics" type="joystick_reference_targets.py" output="screen"/>

    <!--Bare velocity controller node-->
    <node name="velocity_control" pkg="telehaptics" type="velocity_control.py" output="screen"/>

    <!--Gripper control node-->
    <node name="gripper_open_close" pkg="telehaptics" type="gripper_control.py" />

</launch>
