<launch>

    <!--Baxter URDF-->
    <arg name="baxter_urdf" value="robot_description"/>
    <param name="$(arg baxter_urdf)" textfile="$(find telehaptics)/urdf/baxter.urdf"/>

    <!--OMNI URDF-->
    <!-- <arg name="omni_urdf" value="controller_description"/>
    <param name="$(arg omni_urdf)" textfile="$(find omni_description)/urdf/omni.urdf"/> -->
    <include file="$(find phantom_omni)/launch/omni_headless.launch" />

    <!--Rviz-->
    <node name="rviz" pkg="rviz" type="rviz" output="screen"/>

    <!--OMNI pose publishing node-->
    <!-- <node name="omni_reference_pose_generator" pkg="telehaptics" type="omni_reference_targets.py" output="screen"/> -->

    <!--Bare velocity controller node-->
    <!-- <node name="velocity_control" pkg="telehaptics" type="velocity_control.py" output="screen"/> -->

    <!--OMNI gripper control node-->
    <node name="omni_gripper_open_close" pkg="telehaptics" type="omni_gripper_control.py" />

</launch>
