<launch>

    <!--Ui publishing node-->
    <node name="drawshape_ui" pkg="telehaptics" type="drawshape_ui.py" output="screen"/>

    <!--Pose publishing node-->
    <node name="commander" pkg="telehaptics" type="commander.py" output="screen"/>

    <!--Velocity controller node -->
    <!--<node name="velcon" pkg="telehaptics" type="velcon.py" output="screen"/>-->

    <!--Velocity controller no.2 node -->
    <node name="velocity_controller" pkg="telehaptics" type="velocity_controller.py" output="screen"/>


</launch>
